---
layout: page
# The Home page layout
---

{% assign pinned = site.posts | where: "pin", "true" %}
{% assign default = site.posts | where_exp: "item", "item.pin != true and item.hidden != true" %}

{% assign posts = "" | split: "" %}

<!-- Get pinned posts -->

{% assign offset = paginator.page | minus: 1 | times: paginator.per_page %}
{% assign pinned_num = pinned.size | minus: offset %}

{% if pinned_num > 0 %}
  {% for i in (offset..pinned.size) limit: pinned_num %}
    {% assign posts = posts | push: pinned[i] %}
  {% endfor %}
{% else %}
  {% assign pinned_num = 0 %}
{% endif %}

<!-- Get default posts -->

{% assign default_beg = offset | minus: pinned.size %}

{% if default_beg < 0 %}
  {% assign default_beg = 0 %}
{% endif %}

{% assign default_num = paginator.posts | size | minus: pinned_num  %}
{% assign default_end = default_beg | plus: default_num | minus: 1 %}

{% if default_num > 0 %}
  {% for i in (default_beg..default_end) %}
    {% assign posts = posts | push: default[i] %}
  {% endfor %}
{% endif %}

<h1 style="text-align: center; font-weight: bold">Welcome to Mental Health 101</h1>

<img src="../assets/img/home.jpeg" alt="Title/Home page picture">


<div class="post-content">
  We are Balboa students in the Health Equity committee and our mission is providing resources for anyone and everyone including our fellow peers. We’re focusing on mental health and different ways that it is important and issues that can affect your mental health. Learning about mental health is important because our mental well being plays a big factor in our everyday lives. As well as other factors that impact our mental state. Some of these factors are depression, anxiety, bipolar disorder, PTSD, and stress. Not only do these factors impact our mental health but they impact our physical health and all dimensions of wellness because mental wellness is connected to every part of our lives. We hope that through this website we can have a positive impact and be able to help anyone who is struggling with their mental health or just wants to learn more about mental health in general.
  <br><br>
  If you want to make any suggestion to this website, please contact us by clicking the email button at the bottom left. Thank you for supporting us.
</div>

<div style="text-align: center">
  <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfJGrjbsUoo9_c7txms7PoNjIvWn4FZZZRvwadwkX_GHe_jbg/viewform?embedded=true" width="640" height="850" frameborder="0" marginheight="0" marginwidth="0" style="margin-top: 30px">Loading…</iframe>
</div>

{% if paginator.total_pages > 0 %}
  {% include post-paginator.html %}
{% endif %}
